// view{
//   /*var()使用变量*/
//   /* color: var(--themeColor); */
// }
.index_swiper{
  // 等比例变化
  width: 750rpx;
  height: 340rpx;
  image{
    width: 100%; 
  } 
 } 

 .index_cate{
   // 外层看成伸缩盒子
   display: flex;
   navigator{
     padding: 20rpx;
      flex: 1;
    image{
      // 宽度和父元素大小一致
        width: 100%;
    }
   }
   
 }
